<div class="main">
    <div class="rev_slider_wrapper fullscreen-container">
      <div id="rev_slider_2" class="rev_slider fullscreenbanner">
        <ul>
          <li data-transition="fade" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="300" data-rotate="0" data-saveperformance="off" data-title="Slide">
            <%= image_tag "banner/mienbac.jpg", class: "rev-slidebg", style: "width: 1920px; height: 960px;", data: {bgposition: "center", bgfit: "cover", bgrepeat: "no-repeat"} %>
            <div class="tp-caption caption-5 tp-resizeme"
              data-x="center"
              data-hoffset=""
              data-y="center"
              data-voffset="-150"
              data-width="['auto']"
              data-height="['auto']"
              data-transform_idle="o:1;"
              data-transform_in="y:50px;opacity:0;s:2000;e:Power4.easeOut;"
              data-transform_out="opacity:0;s:300;s:300;"
              data-start="500"
              data-splitin="none"
              data-splitout="none"
              data-responsive_offset="on">
              Đặc sản sứ Việt!
            </div>

            <div class="tp-caption caption-6 tp-resizeme"
              data-x="center"
              data-hoffset=""
              data-y="center"
              data-voffset="-50"
              data-width="['auto']"
              data-height="['auto']"
              data-transform_idle="o:1;"
              data-transform_in="x:50px;opacity:0;s:2000;e:easeOutExpo;"
              data-transform_out="opacity:0;s:300;s:300;"
              data-start="2300"
              data-splitin="chars"
              data-splitout="none"
              data-responsive_offset="on"
              data-elementdelay="0.05">
              KHÁM PHÁ ĐẶC SẢN MIỀN BẮC
            </div>

            <div class="tp-caption tp-resizeme"
              data-x="center"
              data-hoffset=""
              data-y="center"
              data-voffset="45"
              data-width="['none','none','none','none']"
              data-height="['none','none','none','none']"
              data-transform_idle="o:1;"
              data-transform_in="y:50px;opacity:0;s:2000;e:Power4.easeInOut;"
              data-transform_out="opacity:0;s:300;s:300;"
              data-start="3500"
              data-responsive_offset="on">
              <%= image_tag "banner/shape.png", style: "width: 20px; height: 54px;" %>
            </div>

            <div class="tp-caption tp-resizeme"
              data-x="center"
              data-hoffset="-25"
              data-y="center"
              data-voffset="45"
              data-width="['none','none','none','none']"
              data-height="['none','none','none','none']"
              data-transform_idle="o:1;"
              data-transform_in="x:25px;z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
              data-transform_out="opacity:0;s:300;s:300;"
              data-start="4000"
              data-responsive_offset="on">
              <%= image_tag "banner/shape.png", style: "width: 20px; height: 54px;" %>
            </div>

            <div class="tp-caption tp-resizeme"
              data-x="center"
              data-hoffset="25"
              data-y="center"
              data-voffset="45"
              data-width="['none','none','none','none']"
              data-height="['none','none','none','none']"
              data-transform_idle="o:1;"
              data-transform_in="x:-25px;y:0px;z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
              data-transform_out="opacity:0;s:300;s:300;"
              data-start="4000"
              data-responsive_offset="on">
              <%= image_tag "banner/shape.png", style: "width: 20px; height: 54px;" %>
            </div>

            <div class="tp-caption caption-7 tp-resizeme"
              data-x="center"
              data-hoffset="-220"
              data-y="center"
              data-voffset="42"
              data-width="['auto']"
              data-height="['auto']"
              data-transform_idle="o:1;"
              data-transform_in="x:-50px;opacity:0;s:2000;e:Power4.easeOut;"
              data-transform_out="opacity:0;s:300;s:300;"
              data-start="5000"
              data-splitin="none"
              data-splitout="none"
              data-responsive_offset="on">
              ĐẶC SẢN 3 MIỀN
            </div>

            <div class="tp-caption caption-8 tp-resizeme"
              data-x="center"
              data-hoffset="220"
              data-y="center"
              data-voffset="42"
              data-width="['auto']"
              data-height="['auto']"
              data-transform_idle="o:1;"
              data-transform_in="x:50px;opacity:0;s:2000;e:Power4.easeOut;"
              data-transform_out="opacity:0;s:300;s:300;"
              data-start="5000"
              data-splitin="none"
              data-splitout="none"
              data-responsive_offset="on">
              ĐẶC SẢN 3 MIỀN
            </div>
          </li>
          <li data-transition="fade" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="300" data-rotate="0" data-saveperformance="off" data-title="Slide">
            <%= image_tag "banner/mientrung.jpg", class: "rev-slidebg", style: "width: 1920px; height: 960px;", data: {bgposition: "center", bgfit: "cover", bgrepeat: "no-repeat"} %>

            <div class="tp-caption caption-5 tp-resizeme"
              data-x="center"
              data-hoffset=""
              data-y="center"
              data-voffset="-150"
              data-width="['auto']"
              data-height="['auto']"
              data-transform_idle="o:1;"
              data-transform_in="y:50px;opacity:0;s:2000;e:Power4.easeOut;"
              data-transform_out="opacity:0;s:300;s:300;"
              data-start="500"
              data-splitin="none"
              data-splitout="none"
              data-responsive_offset="on">
              Đặc sản sứ Việt!
            </div>

            <div class="tp-caption caption-6 tp-resizeme"
              data-x="center"
              data-hoffset=""
              data-y="center"
              data-voffset="-50"
              data-width="['auto']"
              data-height="['auto']"
              data-transform_idle="o:1;"
              data-transform_in="x:50px;opacity:0;s:2000;e:easeOutExpo;"
              data-transform_out="opacity:0;s:300;s:300;"
              data-start="2300"
              data-splitin="chars"
              data-splitout="none"
              data-responsive_offset="on"
              data-elementdelay="0.05">
              KHÁM PHÁ ĐẶC SẢN MIỀN TRUNG
            </div>

            <div class="tp-caption tp-resizeme"
              data-x="center"
              data-hoffset=""
              data-y="center"
              data-voffset="45"
              data-width="['none','none','none','none']"
              data-height="['none','none','none','none']"
              data-transform_idle="o:1;"
              data-transform_in="y:50px;opacity:0;s:2000;e:Power4.easeInOut;"
              data-transform_out="opacity:0;s:300;s:300;"
              data-start="3500"
              data-responsive_offset="on">
              <%= image_tag "banner/shape.png", style: "width: 20px; height: 54px;" %>
            </div>

            <div class="tp-caption tp-resizeme"
              data-x="center"
              data-hoffset="-25"
              data-y="center"
              data-voffset="45"
              data-width="['none','none','none','none']"
              data-height="['none','none','none','none']"
              data-transform_idle="o:1;"
              data-transform_in="x:25px;z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
              data-transform_out="opacity:0;s:300;s:300;"
              data-start="4000"
              data-responsive_offset="on">
              <%= image_tag "banner/shape.png", style: "width: 20px; height: 54px;" %>
            </div>

            <div class="tp-caption tp-resizeme"
              data-x="center"
              data-hoffset="25"
              data-y="center"
              data-voffset="45"
              data-width="['none','none','none','none']"
              data-height="['none','none','none','none']"
              data-transform_idle="o:1;"
              data-transform_in="x:-25px;y:0px;z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
              data-transform_out="opacity:0;s:300;s:300;"
              data-start="4000"
              data-responsive_offset="on">
              <%= image_tag "banner/shape.png", style: "width: 20px; height: 54px;" %>
            </div>

            <div class="tp-caption caption-7 tp-resizeme"
              data-x="center"
              data-hoffset="-220"
              data-y="center"
              data-voffset="42"
              data-width="['auto']"
              data-height="['auto']"
              data-transform_idle="o:1;"
              data-transform_in="x:-50px;opacity:0;s:2000;e:Power4.easeOut;"
              data-transform_out="opacity:0;s:300;s:300;"
              data-start="5000"
              data-splitin="none"
              data-splitout="none"
              data-responsive_offset="on">
              ĐẶC SẢN 3 MIỀN
            </div>

            <div class="tp-caption caption-8 tp-resizeme"
              data-x="center"
              data-hoffset="220"
              data-y="center"
              data-voffset="42"
              data-width="['auto']"
              data-height="['auto']"
              data-transform_idle="o:1;"
              data-transform_in="x:50px;opacity:0;s:2000;e:Power4.easeOut;"
              data-transform_out="opacity:0;s:300;s:300;"
              data-start="5000"
              data-splitin="none"
              data-splitout="none"
              data-responsive_offset="on">
              ĐẶC SẢN 3 MIỀN
            </div>
          </li>
          <li data-transition="fade" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="300" data-rotate="0" data-saveperformance="off" data-title="Slide">
            <%= image_tag "banner/miennam.jpg", class: "rev-slidebg", style: "width: 1920px; height: 960px;", data: {bgposition: "center", bgfit: "cover", bgrepeat: "no-repeat"} %>
            
            <div class="tp-caption caption-5 tp-resizeme"
              data-x="center"
              data-hoffset=""
              data-y="center"
              data-voffset="-150"
              data-width="['auto']"
              data-height="['auto']"
              data-transform_idle="o:1;"
              data-transform_in="y:50px;opacity:0;s:2000;e:Power4.easeOut;"
              data-transform_out="opacity:0;s:300;s:300;"
              data-start="500"
              data-splitin="none"
              data-splitout="none"
              data-responsive_offset="on">
              Đặc sản sứ Việt!
            </div>

            <div class="tp-caption caption-6 tp-resizeme"
              data-x="center"
              data-hoffset=""
              data-y="center"
              data-voffset="-50"
              data-width="['auto']"
              data-height="['auto']"
              data-transform_idle="o:1;"
              data-transform_in="x:50px;opacity:0;s:2000;e:easeOutExpo;"
              data-transform_out="opacity:0;s:300;s:300;"
              data-start="2300"
              data-splitin="chars"
              data-splitout="none"
              data-responsive_offset="on"
              data-elementdelay="0.05">
              KHÁM PHÁ ĐẶC SẢN MIỀN NAM
            </div>

            <div class="tp-caption tp-resizeme"
              data-x="center"
              data-hoffset=""
              data-y="center"
              data-voffset="45"
              data-width="['none','none','none','none']"
              data-height="['none','none','none','none']"
              data-transform_idle="o:1;"
              data-transform_in="y:50px;opacity:0;s:2000;e:Power4.easeInOut;"
              data-transform_out="opacity:0;s:300;s:300;"
              data-start="3500"
              data-responsive_offset="on">
              <%= image_tag "banner/shape.png", style: "width: 20px; height: 54px;" %>
            </div>

            <div class="tp-caption tp-resizeme"
              data-x="center"
              data-hoffset="-25"
              data-y="center"
              data-voffset="45"
              data-width="['none','none','none','none']"
              data-height="['none','none','none','none']"
              data-transform_idle="o:1;"
              data-transform_in="x:25px;z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
              data-transform_out="opacity:0;s:300;s:300;"
              data-start="4000"
              data-responsive_offset="on">
              <%= image_tag "banner/shape.png", style: "width: 20px; height: 54px;" %>
            </div>

            <div class="tp-caption tp-resizeme"
              data-x="center"
              data-hoffset="25"
              data-y="center"
              data-voffset="45"
              data-width="['none','none','none','none']"
              data-height="['none','none','none','none']"
              data-transform_idle="o:1;"
              data-transform_in="x:-25px;y:0px;z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
              data-transform_out="opacity:0;s:300;s:300;"
              data-start="4000"
              data-responsive_offset="on">
              <%= image_tag "banner/shape.png", style: "width: 20px; height: 54px;" %>
            </div>

            <div class="tp-caption caption-7 tp-resizeme"
              data-x="center"
              data-hoffset="-220"
              data-y="center"
              data-voffset="42"
              data-width="['auto']"
              data-height="['auto']"
              data-transform_idle="o:1;"
              data-transform_in="x:-50px;opacity:0;s:2000;e:Power4.easeOut;"
              data-transform_out="opacity:0;s:300;s:300;"
              data-start="5000"
              data-splitin="none"
              data-splitout="none"
              data-responsive_offset="on">
              ĐẶC SẢN 3 MIỀN
            </div>

            <div class="tp-caption caption-8 tp-resizeme"
              data-x="center"
              data-hoffset="220"
              data-y="center"
              data-voffset="42"
              data-width="['auto']"
              data-height="['auto']"
              data-transform_idle="o:1;"
              data-transform_in="x:50px;opacity:0;s:2000;e:Power4.easeOut;"
              data-transform_out="opacity:0;s:300;s:300;"
              data-start="5000"
              data-splitin="none"
              data-splitout="none"
              data-responsive_offset="on">
              ĐẶC SẢN 3 MIỀN
            </div>
          </li>
        </ul>
        <div class="tp-bannertimer"></div>
      </div>
    </div>

    <div class="pt-12 pb-0">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="noo-sh-title noo-blog-title">
              <h2>Khám phá đặc sản 3 miền!</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="text-center">
      <figure class="figure text-center">
        <%= image_tag "template/image_top.png", style: "width: 1005px; height: 503px;" %>
      </figure>
    </div>
    <div class="pt-12 pb-10 clear">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="noo-product-slider-wrap commerce">
              <div class="noo-sh-title">
                <h2>Đặc sản miền Bắc</h2>
                <p>
                  Dọc dải đất miền Bắc có vô vàn những đặc sản hấp dẫn đã tạo nên danh tiếng như
                </p>
              </div>
              <div class="row noo-product-slider products product-grid">
                <div class="noo-product-sliders">
                  <div class="masonry-item col-md-4 col-sm-6 product">
                    <div class="noo-product-inner">
                      <div class="noo-product-thumbnail">
                        <a href="#">
                          <%= image_tag "template/product/product_1.jpg", style: "width: 600px; height: 760px;" %>
                        </a>
                        <div class="noo-rating">
                          <div class="star-rating">
                            <span style="width:0%"></span>
                          </div>
                        </div>
                      </div>
                      <div class="noo-product-title">
                        <h3><a href="#">Apples</a></h3>
                        <span class="price"><span class="amount">&#36;3.95</span></span>
                        <div class="noo-product-action">
                          <div class="noo-action">
                            <a href="#" class="button product_type_simple add_to_cart_button">
                              <span>Mua ngay</span>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="pt-12 pb-10 clear">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="noo-product-slider-wrap commerce">
              <div class="noo-sh-title">
                <h2>Đặc sản miền Trung</h2>
                <p>
                  Còn đây là danh sách sẽ đưa bạn dạo quanh miền Trung cùng với những món đặc sản hấp dẫn được nhiều du khách yêu thích.
                </p>
              </div>
              <div class="row noo-product-slider products product-grid">
                <div class="noo-product-sliders">
                  <div class="masonry-item col-md-4 col-sm-6 product">
                    <div class="noo-product-inner">
                      <div class="noo-product-thumbnail">
                        <a href="#">
                          <%= image_tag "template/product/product_1.jpg", style: "width: 600px; height: 760px;" %>
                        </a>
                        <div class="noo-rating">
                          <div class="star-rating">
                            <span style="width:0%"></span>
                          </div>
                        </div>
                      </div>
                      <div class="noo-product-title">
                        <h3><a href="#">Apples</a></h3>
                        <span class="price"><span class="amount">&#36;3.95</span></span>
                        <div class="noo-product-action">
                          <div class="noo-action">
                            <a href="#" class="button product_type_simple add_to_cart_button">
                              <span>Mua ngay</span>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pt-12 pb-10 clear">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="noo-product-slider-wrap commerce">
              <div class="noo-sh-title">
                <h2>Đặc sản miền Nam</h2>
                <p>
                  Sự đa dạng vùng miền cũng góp phần làm cho đặc sản của miền Nam phong phú và đặc biệt không “thua chị kém em”.
                </p>
              </div>
              <div class="row noo-product-slider products product-grid">
                <div class="noo-product-sliders">
                  <div class="masonry-item col-md-4 col-sm-6 product">
                    <div class="noo-product-inner">
                      <div class="noo-product-thumbnail">
                        <a href="#">
                          <%= image_tag "template/product/product_1.jpg", style: "width: 600px; height: 760px;" %>
                        </a>
                        <div class="noo-rating">
                          <div class="star-rating">
                            <span style="width:0%"></span>
                          </div>
                        </div>
                      </div>
                      <div class="noo-product-title">
                        <h3><a href="#">Apples</a></h3>
                        <span class="price"><span class="amount">&#36;3.95</span></span>
                        <div class="noo-product-action">
                          <div class="noo-action">
                            <a href="#" class="button product_type_simple add_to_cart_button">
                              <span>Mua ngay</span>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>