<ol class="children">
  <li class="comment">
    <div class="comment-wrap">
      <div class="comment-img">
        <img alt='' src='http://placehold.it/100x100' height='80' width='80' />
        </div>
      <article class="comment-block">
        <header class="comment-header">
          <cite class="comment-author">
            <h4><%= reply.user.name %></h4>
          </cite>
        </header>
        <div class="comment-content-<%= reply.id %>">
          <p><%= reply.content %></p>
        </div>
        <span class="comment-reply">
          <% if user_signed_in? && check_user_comment(reply.user.id) %>
            <%= link_to t(".edit"), edit_product_comment_path(@product, reply.id), remote: true, class: "comment-reply-link" %> - 
            <%= link_to t(".delete"), "javascript:;", class: "remove-comment", data: {product_id: @product.id, comment_id: reply.id} %> - 
          <% elsif user_signed_in? %>
            <%= link_to t(".reply"), "javascript:;", class: "reply-comment", class: "reply-comment", data: {parent_id: parent_id} %> - 
          <% end %>
          <%= distance_of_time_in_words(Time.now - reply.created_at) %>
        </span>
      </article>
    </div>
  </li>
</ol>
