<header class="header black-bg">
  <div class="sidebar-toggle-box">
    <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Chuyển đổi điều hướng"></div>
  </div>
  <!--logo start-->
  <%= link_to admin_root_path, class: "logo" do %>
    <b><%= t ".slogan1" %><span><%= t ".slogan2" %></span></b>
  <% end %>
  <!--Quantity of access-->
  <input type="hidden" id="access-quantity" value="1" />
  <div class="nav notify-row" id="top_menu">
    <!--  notification start -->
    <ul class="nav top-menu">
      <!-- notification dropdown start-->
      <li id="header_notification_bar" class="dropdown">
        <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
          <i class="fa fa-bell-o"></i>
          <span class="badge bg-warning">2</span>
        </a>
        <ul class="dropdown-menu extended notification">
          <div class="notify-arrow notify-arrow-yellow"></div>
          <li>
            <p class="yellow">Bạn có 2 thông báo</p>
          </li>
          <li>
            <a href="index.html#">
              <span class="label label-warning"><i class="fa fa-bell"></i></span>
              User 1 đã đặt hàng
              <span class="small italic">40p trước</span>
            </a>
          </li>
          <li>
            <a href="index.html#">
              <span class="label label-warning"><i class="fa fa-bell"></i></span>
              User1 đã đăng ký
              <span class="small italic">50p trước</span>
            </a>
          </li>
          <li>
            <a href="index.html#">Đánh dấu đã đọc</a>
          </li>
        </ul>
      </li>
      <!-- notification dropdown end -->
    </ul>
    <!--  notification end -->
  </div>
  <div class="top-menu">
    <ul class="nav pull-right top-menu">
      <li>
        <% if current_user %>
          <%= link_to destroy_user_session_path, class: "logout", method: :delete do %>
            <i class="fa fa-sign-out"></i><%= t ".logout" %>
          <% end %>
        <% end %>
      </li>
    </ul>
    <ul class="nav pull-right top-menu select-languages">
      <li class="languages">
        <%= link_to "javascript:void(0)", class: "dropdown-toggle", "data-toggle": "dropdown" do %>
          <%= image_tag img_language(session[:language]), style: "" %>
        <i class="fa fa-angle-down"></i>
        <% end %>
        <ul class="dropdown-menu dropdown-menu-right languages" role="menu">
          <li data-lang= "en">
            <%= link_to "javascript:void(0)" do %>
              <%= image_tag "english.png" %>
              <span>English</span>
            <% end %>
          </li>
          <li data-lang= "vi">
            <%= link_to "javascript:void(0)" do %>
              <%= image_tag "vietnamese.png" %>
              <span>Tiếng việt</span>
            <% end %>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</header>
