<!DOCTYPE html>
<html>
  <head>
    <title>RegionSpecalityFood</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'admin/admin', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'admin/admin', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "admin/layouts/header" %>
    <%= render "admin/layouts/aside_left" %>
    <section id="main-content">
      <section class="wrapper">
        <div class="row">
          <%= yield %>
        </div>
      </section>
    </section>
      <%= render "admin/layouts/footer" %>
    
  </body>
</html>
