<section class="noo-page-heading eff">
  <div class="container">
    <div class="noo-heading-content">
      <h1 class="page-title eff"><%= t ".product_list" %></h1>
      <div class="noo-page-breadcrumb eff">
        <a href="index.html" class="home"><%= t ".specialty_three_regions" %></a>/<span><%= t ".product" %></span>
      </div>
    </div>
  </div>
</section>
<div class="main">
  <div class="commerce noo-shop-main">
    <div class="container">
      <div class="row">
        <div class="noo-main col-md-9" id="products">
          <%= render partial: "product_list", locals: { products: @products } %>
        </div>
        <div class="noo-sidebar col-md-3">
          <div class="noo-sidebar-wrap">
            <div class="widget commerce widget_product_search">
              <h3 class="widget-title"><%= t ".search" %></h3>
              <%= form_with url: "/products", method: :get, class: "form-search" do |form| %>
                <%= form.text_field :query, placeholder: "Tìm kiếm", class: "form-search" %>
                <%= form.submit "search", id: "submit" %>
              <% end %>
            </div>
            <div class="widget commerce widget_product_categories">
              <h3 class="widget-title"><%= t ".region" %></h3>
              <ul class="product-categories">
                <li><a href="#"><%= t ".north" %></a></li>
                <li><a href="#"><%= t ".central" %></a></li>
                <li><a href="#"><%= t ".south" %></a></li>
              </ul>
            </div>
            <div class="widget commerce widget_products">
              <h3 class="widget-title"><%= t ".most_bought" %></h3>
              <ul class="product_list_widget">
                <% @most_bought_products.each do |product| %>
                  <li>
                    <%= link_to product_path(product.id) do %>
                      <%= image_tag product.image, style: "width: 100; height: 100;" %>
                      <span class="product-title"><%= product.name %></span>
                    <% end %>
                    <span class="amount"><%= format_money product.price %></span>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>