<section class="noo-page-heading eff">
  <div class="container">
    <div class="noo-heading-content">
      <h1 class="page-title eff"><%= t ".product_list" %></h1>
      <div class="noo-page-breadcrumb eff">
        <a href="index.html" class="home"><%= t ".specialty_three_regions" %></a>/<span><%= t ".product" %></span>
      </div>
    </div>
  </div>
</section>
<div class="main">
  <div class="commerce noo-shop-main">
    <div class="container">
      <div class="row">
        <div class="noo-main col-md-9">
          <div class="noo-catalog">
            <%# <p class="commerce-result-count">Showing 1&ndash;9 of 18 results</p> %>
            <form class="commerce-ordering pull-right">
              <select name="orderby" class="orderby">
                <option value="" selected='selected'><%= t ".order" %></option>
                <option value=""><%= t ".order_by_price" %></option>
                <option value=""><%= t ".order_by_name" %></option>
              </select>
            </form>
            <%# <div class="product-style-control pull-left">
                <span class="noo-list active"><i class="fa fa-th-list"></i></span>
                <span class="noo-grid"><a href="#"><i class="fa fa-th-large"></i></a></span>
            </div> %>
          </div>
          <div class="products row product-list">
            <% @products.each do |product| %>
              <%= render product %>
            <% end %>
          </div>
          <div class="col-md-12 pagination-product text-center">
            <%= will_paginate @orders %>
          </div>
        </div>
        <div class="noo-sidebar col-md-3">
          <div class="noo-sidebar-wrap">
            <div class="widget commerce widget_product_search">
              <h3 class="widget-title"><%= t ".search" %></h3>
              <form>
                <input type="search" id="commerce-product-search-field" class="search-field" placeholder="<%= t ".search" %>&hellip;" value="" name="searchProduct" />
                <input type="submit" class="btn btn-success" value="Search" />
              </form>
            </div>
            <div class="widget commerce widget_product_categories">
              <h3 class="widget-title"><%= t ".region" %></h3>
              <ul class="product-categories">
                <li><a href="#"><%= t ".north" %></a></li>
                <li><a href="#"><%= t ".central" %></a></li>
                <li><a href="#"><%= t ".south" %></a></li>
              </ul>
            </div>
            <div class="widget commerce widget_products">
              <h3 class="widget-title"><%= t ".most_bought" %></h3>
              <ul class="product_list_widget">
                <% @most_bought_products.each do |product| %>
                  <li>
                    <%= link_to product_path(product.id) do %>
                      <%= image_tag product.image, style: "width: 100; height: 100;" %>
                      <span class="product-title"><%= product.name %></span>
                    <% end %>
                    <span class="amount"><%= format_money product.price %></span>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>