<div class="col-lg-9 main-chart">
  <!--CUSTOM CHART START -->
  <div class="border-head">
      <h3><%= t ".access_statistics" %></h3>
  </div>
  <div class="custom-bar-chart">
    <ul class="y-axis">
      <li><span>1.000</span></li>
      <li><span>800</span></li>
      <li><span>600</span></li>
      <li><span>400</span></li>
      <li><span>200</span></li>
      <li><span>0</span></li>
    </ul>
    <%
=begin%>
 <% (1..5).each do |index| %>
      <div class="bar">
        <div class="title">0<%= index + 2%>/03/2019</div>
        <div class="value tooltips" data-original-title=<%= 180*index %> data-toggle="tooltip" data-placement="top"><%= (index*50).to_s %></div>
      </div>
    <% end %> 
<%
=end%>

    <% @statisticals.each do |statistical| %>
      <div class="bar">
        <div class="title"><%= statistical.created_at.strftime("%d/%m/%Y") %></div>
        <div class="value tooltips" data-original-title=<%= statistical.quantity %> data-toggle="tooltip" data-placement="top"><%= statistical.quantity/3.4 %></div>
      </div>
    <% end %>

  </div>
</div>
<div class="col-lg-3 ds">
  <!-- CALENDAR-->
  <div id="calendar" class="mb">
    <div class="panel green-panel no-margin">
      <div class="panel-body">
        <div id="date-popover" class="popover top" style="cursor: pointer; disadding: block; margin-left: 33%; margin-top: -50px; width: 175px;">
          <div class="arrow"></div>
          <h3 class="popover-title" style="disadding: none;"></h3>
          <div id="date-popover-content" class="popover-content"></div>
        </div>
        <div id="my-calendar"></div>
      </div>
    </div>
  </div>
  <!-- / calendar -->
</div>
