<footer class="wrap-footer footer-2 colophon wigetized">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-sm-6 item-footer-four">
          <div class="widget widget_about">
            <div class="noo_about_widget">
              <a href="#">
                <%= image_tag "logo.png" %>
              </a>
              <p><%= t ".description" %></p>
            </div>
          </div>
          <div class="widget widget_noo_social">
            <div class="noo_social">
              <div class="social-all">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-google-plus"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-youtube"></a>
                <a href="#" class="fa fa-skype"></a>
              </div>
            </div>
          </div>
          <div class="widget widget_text">
            <div class="textwidget">
              <div class="copyright">
              <%= t ".create_date" %><br />
              Design <i class="fa fa-heart-o"></i> Đỗ Thị Nhàn
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 item-footer-four">
          <div class="widget widget_text">
          <h4 class="widget-title"><%= t ".contact" %></h4>
            <div class="textwidget">
              <h5><%= t ".address" %></h5>
              <p><%= t ".address_detail" %></p>
              <h5><%= t ".phone" %></h5>
              <p>
                <a href="#">(+84) 987 343 794</a>  <br />
              </p>
              <h5>Email</h5>
              <p>
                <a href="#">nhannhanvyka@gmail.com</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 item-footer-four">
          <div class="widget widget_text">
            <h4 class="widget-title"><%= t ".students_make" %></h4>
            <div class="textwidget">
              <ul>
                <li><h5>Đỗ Thị Nhàn</h5></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>